@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');
body {
    margin: 0px;
    background: #000;
}
* {
        font-family: 'Poppins', sans-serif; 
}
ul,.row,ol,p {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
a,a:hover,*:focus {
    outline: none !important;
}
header {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    /* background: red; */
}

.container {
    max-width: 1720px;
    padding: 0px 30px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

header li:nth-child(even) {
    margin: 0px 30px;
}

header {
    padding: 24px;
}

.hamBUrgers {
    display: block;
    width: 24px;
    height: 16px;
    /* border: 2px solid #000; */
    position: relative;
}

.hamBUrgers span {
    position: absolute;
    height: 1px;
    background: #E9BC20;
    width: 100%;
    position: absolute;
}

.hamBUrgers span:nth-child(1) {
    top: 0;
}

.hamBUrgers span:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
}

.hamBUrgers span:nth-child(3) {
    bottom: 0px;
}

li.hamburgercontainer {
    display: flex;
    align-items: center;
}
.sliderContainerHOmepage {
    position: relative;
    max-height: max-content;
}

.socialMediaLinks ul {
    display: flex;
    /* position: absolute; */
    /* left: 0px; */
    /* top: 0; */
    /* bottom: 0; */
    /* margin: auto; */
}

.socialMediaLinks li:nth-child(even) {
    margin: 0px 30px;
}

.socialMediaLinks li a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.socialMediaLinks {
    position: absolute;
    left: 0px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: max-content;
    z-index: 999;
    transform: rotate(-90deg);
    left: -180px;
    right: auto;
    top: 45%;
    bottom: auto;
}

.slideInnerContainer {
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contentSliderHomeBanner {
    max-width: 700px;
    margin: auto;
    color: #fff;
}

.contentSliderHomeBanner h2 {
    font-size: 66px;
    font-weight: 600;
}

.contentSliderHomeBanner p {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}

.butonBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    height: 50px;
    max-width: 180px;
    margin: 50px auto 0px;
    color: #fff;
    position: relative;
    font-weight: 600;
}

a:hover {
    color: inherit;
    text-decoration: none !important;
}

.butonBanner:after {
    content: "";
    display: block;
    width: 1px;
    height: 60px;
    transition: 0.6s all;
    background: #ffffff8a;
    position: absolute;
    right: -13px;
    bottom: -18px;
}

.butonBanner:before {
    content: "";
    display: block;
    width: 190px;
    height: 1px;
    background: #ffffff8a;
    position: absolute;
    bottom: -13px;
    transition: 0.6s all;
    right: -20px;
}

.butonBanner:hover {
    background: #fff;
    color: #E9BC20;
}

body, * {
    /*transition: 0.6s all;*/
}

.butonBanner:hover:after {
    right: auto;
    top: -17px;
    bottom: auto;
    height: 60px;
    left: -10px;
    transition: 0.6s all;
}

.butonBanner:hover:before {
    bottom: auto;
    left: -20px;
    /* width: 100%; */
    top: -10px;
    transition: 0.6s all;
}

header {
    z-index: 9999;
    background: #000;
}




.slideCOntainerHome h2,
.slideCOntainerHome p,
.testimonials h6,
.testimonials p,
.slideCOntainerHome .buttoncintainer
{
    opacity: 0;
}


.slideCOntainerHome.slick-active h2,
.slideCOntainerHome.slick-active p,
.slideCOntainerHome.slick-active .buttoncintainer,
.sliderNac.slick-active h6,
.sliderContenttest.slick-active  p
{
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    transform: translateY(-50px);
    opacity: 0;
    animation-name: titleAnimation;
    animation-timing-function: ease;
    animation-duration: 3s;    
    animation-delay: 0.6s;
    -webkit-animation-fill-mode: forwards;
}


@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 100%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
  }
}
img {
    max-width: 100%;
    display: block;
}
.buttoncintainer {
    padding: 10px 0px 30px;
}
.ceoMessage {
    min-height: 325px;
    display: flex;
    align-items: center;
}

.ceoMessage img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
}

.containerMini {
    max-width: 1000px;
    margin: auto;
}

.MessageCero {
    display: flex;
    align-items: center;
    flex: 0 45%;
}

.ceoMessage .containerMini {
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    max-width: 1140px;
}

.MessageCero h2 {
    font-size: 28px;
    font-weight: 500;
    margin-right: 80px;
    text-transform: uppercase;
}

.MessageCero span {
    font-size: 12px;
    display: block;
    text-align: right;
    color: #E9BC20;
    margin: 10px 0px 0px;
    font-weight: 300;
    text-transform: none;
}

.MessageCero p {
    max-width: 500px;
}

.QuoteOftheDay {
    max-width: 500px;
    margin-left: auto;
    flex: 0 45%;
}
.sliderContainerHOmepage .slick-next {
    position: absolute;
    right: 30px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 0;
    background: none;
    z-index: 9;
}

.sliderContainerHOmepage .slick-next::after {
    content: "";
    display: block;
    width: 14px;
    height: 15px;
    border: 3px solid #fff;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
}
.sliderContainerHOmepage .slick-prev {
    position: absolute;
    right: 80px;
    z-index: 9;
    bottom: 10px;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 0;
    background: none;
}

.sliderContainerHOmepage .slick-prev::after {
    content: "";
    display: block;
    width: 14px;
    height: 15px;
    border: 3px solid #fff;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(-135deg);
}
.sliderContainerHOmepage .slick-prev button,
.sliderContainerHOmepage .slick-next button {
    display: none;
}
.slideInnerContainer {
    background-blend-mode: multiply;
    background-color: #00000078;
    background-attachment: fixed;
}
.socialMediaLinks li a:hover {
    color: #ab8f23;
}
.productcontainerslider .slick-slide {
    margin: 0 10px;
}
.productcontainerslider .slick-list {
    margin: 0 -10px;
}
.innnerSlideContainer img {
    max-width: 415px;
    width: 100%;
    max-height: 415px;
    height: 100%;
}

.innnerSlideContainer {
    max-width: 100%;
    overflow: hidden;
    margin: auto;
    text-align: center;
}

.innnerSlideContainer h4 {
    font-size: 24px;
    color: #fff;
    margin: 20px 0px 0px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.innnerSlideContainer h6 {
    font-size: 18px;
    color: #fff;
    margin: 10px 0px 0px;
}
.ourproducts {
    text-align: center;
    padding: 100px 0px;
    border-bottom: 1px solid #ffffff61;
}

.contentOurProducts h6 {
    color: #E9BC20;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.contentOurProducts h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 50px;
    color: #fff;
}

.ourproducts .buttoncintainer a {
    background: #fff;
    color: #000;
    border: 2px solid #fff;
    font-weight: 600;
}
.ourproducts .buttoncintainer a:hover {
    border-color: #E9BC20;
    background: none;
    color: #fff;
}
.ourproducts .buttoncintainer a:hover::after,
.ourproducts .buttoncintainer a:hover::before {
    background: #E9BC20;
}
.alignCenter {
    align-items: center;
}
.aboutSection .buttoncintainer a {
    background: #E9BC20;
    color: #000;
    border: 2px solid #E9BC20;
}
.aboutSection .buttoncintainer a:before,
.aboutSection .buttoncintainer a:after {
    background: #E9BC20;
}

.aboutSection .buttoncintainer a:hover:before,
.aboutSection .buttoncintainer a:hover:after {
    background: #E9BC20;
}
.aboutSection .buttoncintainer a:hover {
    background: none;
    color: #fff;
}
.aboutSection .buttoncintainer a {
    margin-left: 0px;
}
.aboutSection {
    color: #fff;
    padding: 100px 0px;
}
.contentrightAbout {
    max-width: 600px;
    margin: auto;
}

.contentrightAbout h6 {color: #E9BC20;font-weight: 400;text-transform: capitalize;letter-spacing: 1px;margin-bottom: 10px;}

.contentrightAbout h2 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contentrightAbout p {
    line-height: 30px;
    font-size: 14px;
    max-width: 550px;
}

.innerslideGallery {
    width: 99%;
    position: relative;
}

.innerslideGallery img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.indexoftheSlide {
    position: absolute;
    bottom: 40px;
    z-index: 9;
    font-size: 80px;
    text-align: right;
    width: max-content;
    color: black;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    right: 50px;
    font-weight: 700;
    opacity: 0.5;
    z-index: 9;
}

.innerslideGallery::after {content: "";display: block;width: 100%;height: 100%;background: #00000066;position: absolute;top: 0;bottom: 0;left: 0;right: 0;}

.innerslideGallery {
    overflow: hidden;
}

.innerslideGallery:hover img {
    transform: scale(1.5);
    transition: 3s all;
}

.innerslideGallery img {
    transition: 3s all;
}

.innerslideGallery {
    cursor: pointer;
}
.containerlines {
    width: 90%;
    height: 90%;
    position: relative;
    display: block;
    position: absolute;
}

.containerlines::after {
    content: "";
    display: block;
    width: 1px;
    height: 90%;
    position: absolute;
    right: 0px;
    z-index: 99;
    background: #ffffff69;
    bottom: 0;
    top: auto;
    right: -13px;
}

.containerlines::before {
    content: "";
    display: block;
    width: 2px;
    height: 90%;
    position: absolute;
    right: 0px;
    z-index: 99;
    background: #ffffff69;
    bottom: 0;
    top: auto;
    right: -13px;
    width: 100%;
    height: 3px;
    right: -23px;
    bottom: 10px;
}

.sliderGallery .slick-next {
    position: absolute;
    right: 60px;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    font-size: 0;
    margin: 20px 0px;
}

.sliderGallery .slick-next button {
    display: none;
}

.sliderGallery .slick-next::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
}

.sliderGallery .slick-prev {
    position: absolute;
    left: 60px;
    z-index: 9;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    font-size: 0;
    margin: 20px 0px;
    bottom: -80px;
}

.sliderGallery .slick-prev button {
    display: none;
}

.sliderGallery .slick-prev::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(-135deg);
}
.testimonials {
    color: #fff;
    text-align: center;
}

.sliderNac img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    margin-bottom: 20px;
}

.sliderNac h6 span {
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0px;
    text-transform: uppercase;
}

.sliderNac h6 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 20px;
    max-width: 214px;
    margin: 30px auto 0px;
}

.authortestimonials {
    max-width: 500px;
    margin: auto;
}
.authortestimonials .slick-next {
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: max-content;
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    font-size: 0;
}

.authortestimonials .slick-next::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
}
.authortestimonials .slick-prev {
    position: absolute;
    left: 0px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: max-content;
    width: 50px;
    height: 50px;
    border: none;
    z-index: 9;
    background: none;
    font-size: 0;
}

.authortestimonials .slick-prev::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(-135deg);
}
.sliderContenttest p {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 33px;
    font-weight: 300;
    opacity: 0.8;
}
.testimonials {
    padding: 100px 0px;
}

.testimonials img {
    margin: auto;
}

.headincontenttestimonial img {
    margin: 50px auto;
}

.headincontenttestimonial h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 42px;
}

.headincontenttestimonial h6 {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #E9BC20;
    opacity: 1;
    text-transform: capitalize;
}
.testimonials {
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.copyroghts {
    padding: 10px 0px;
    color: #fff;
    border-top: 1px solid rgb(255 255 255 / 0.15);
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 1px;
}

footer .container > .row {
    color: #fff;
    padding: 90px 0px 50px;
}

footer i {
    color: #a68d21;
}

footer a {
    color: #fff;
}

.contentlogoFooet {
    max-width: 440px;
    margin: 30px 0px;
}

footer h6 {
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.innermenu i {
    /* width: 30px; */
}

.innermenu a {
    display: flex;
    align-items: flex-start;
}

.socialLinksFooter ul {
    display: flex;
    align-items: center;
}

.socialLinksFooter li:nth-child(even) {
    margin: 0px 15px;
}

.socialLinksFooter i {
    width: 30px;
    height: 30px;
    border: 1px solid #E9BC20;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 11px;
}

.socialLinksFooter {
    margin: 20px 0px;
}

.socialLinksFooter i:hover {
    background: #E9BC20;
    color: #000;
}

.newsletterFooter form {
    position: relative;
}

.newsletterFooter input[type="submit"] {
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    height: 40px;
}

.newsletterFooter input[type="email"] {
    height: 40px;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
}
.innermenu li {
    margin-bottom: 15px;
}

.innermenu i {
    margin-right: 0;
    /* margin-top: 6px; */
}
.innermenu {
    max-width: 200px;
}

.innermenu a {
    font-size: 14px;
    font-weight: 300;
}

.innermenu h6 {
    margin-bottom: 30px;
}

.innermenu a:hover {
    color: #e9bc20;
}
/*cards*/

.flip {
  position: relative;
}
.flip > .front,
.flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: .5s;
  transition-property: transform, opacity;
}
.flip > .front {
  transform: rotateY(0deg);
}
.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}
.flip:hover > .front {
  transform: rotateY(180deg);
}
.flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}

.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  max-width: 400px;
  width: 100%;
  min-height: 325px;
}
.flip > .front,
.flip > .back {
  display: block;
  color: white;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  height: 325px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
  transition: 0.9s all;
}
.flip > .front p,
.flip > .back p {
  font-size: 0.9125rem;
  line-height: 160%;
  color: #999;
}

.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

.cardsSections .container {
    max-width: 1360px;
}
.cardsSections {
    padding: 90px 0px;
}
.flip .front {
    height: 325px;
    background-blend-mode: multiply;
    background-color: #00000070;
}

.flip .front h1 {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

h1.text-shadow img {
    flex: 0 100%;
    width: auto;
    max-width: max-content;
}
.contentheadingFrontSide {
    text-align: center;
}

.contentheadingFrontSide img {
    margin: auto;
    margin-bottom: 20px;
}

.contentheadingFrontSide span {
    font-size: 21px;
    font-weight: 700;
    text-shadow: none;
}
.flip > .back {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
}

.flip > .back p {
    font-size: 15px;
    color: #fff;
    line-height: 23px;
}
.cardsSections h6,.cardsSections h2 {
    text-align: center;
}

.cardsSections h2 {
    margin-bottom: 60px;
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.cardsSections h6 {
    color: #E9BC20;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 300;
}
.ctas {
    color: #fff;
    text-align: center;
    min-height: 276px;
    display: flex;
    align-items: center;
}

.ctas h1 {
    color: #E9BC20;
    font-size: 90px;
    font-weight: 300;
}

.ctas span {
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.innerslideGallery:hover .indexoftheSlide {
    color: #fff;
    -webkit-text-fill-color: #fff;
    opacity: 1;
}

.innerslideGallery:hover .containerlines::before, .innerslideGallery:hover .containerlines::after 
{
    border-color: #fff;background: #fff;
}

.innerslideGallery:hover .containerlines::before {
    height: 1px;
}

.innerslideGallery .containerlines::before {
    height: 1px;
}

.indexoftheSlide, .containerlines:before, .containerlines::after {
    transition: 0.8s all;
}
.tabscontainerabout .container {
    display: flex;
    align-items: center;
    max-width: 1240px;
    align-items: flex-start;
}

.tabscontainerabout ul#myTab {
    display: block;
    width: 50%;
}

.tabscontainerabout ul#myTab li a {
    padding-left: 50px;
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    position: relative;
}

.tabscontainerabout ul#myTab li a.active {
    color: #E9BC20;
}

.tabscontainerabout ul#myTab {
    border: none;
}

.tabscontainerabout ul#myTab li a:after {content: "";display: block;width: 30px;height: 2px;background: #fff;position: absolute;top: 0;bottom: 0;margin: auto;left: 0px;}

.tabscontainerabout ul#myTab li a.active:after {
    background: #E9BC20;
    width: 40px;
}

.tabscontainerabout ul#myTab li a.active {
    padding-left: 60px;
}
.tabscontainerabout div#myTabContent {
    max-width: 40%;
    width: 100%;
    margin-left: auto;
}

.tabscontainerabout div#myTabContent img {
    max-width: 100%;
    max-height: 450px;
    object-fit: cover;
    width: 100%;
}
.tabscontainerabout {
    padding: 60px 0px;
}
.videoSection a {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: max-content;
    width: max-content;
}

.videoSection {
    position: relative;
}
.bannerPages {
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.bannerPages h2 {
    font-size: 54px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.bannerPages a, .bannerPages span {
    text-transform: capitalize;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 100;
    margin-right: 10px;
    display: inline-block;
}

.bannerPages span {
    margin-left: 10px;
}
.bannerPages {
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}
.innerContainerProdct img {
    max-width: 100%;
    width: auto;
    margin: auto;
    max-height: 400px;
    object-fit: cover;
    width: 100%;
}

.innerContainerProdct {
    text-align: center;
    margin-bottom: 50px;
}

.innerContainerProdct h6 {
    margin: 30px 0px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
}
.productsContaienr {
    padding: 100px 0px;
}

.innerContainerProdct:hover img {
    transform: scale(1.5);
    transition: 1s all;
}

.innerContainerProdct img {
    transition: 1s all;
}

.imaheWrapper {
    overflow: hidden;
}

/*gallery*/
.galleryPage {
    padding: 100px 0px;
}

.galleryPage .container {
    max-width: 1240px;
}

.element-item img {
    max-width: 90%;
    height: 100%;
    /* margin-bottom: 50px; */
    /* display: block; */
}

.element-item {
    margin-bottom: 20px;
}

.button-group.filters-button-group button {
    background: none;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
}

.button-group.filters-button-group {
    border-bottom: 1px solid rgb(255 255 255 / 0.2);
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.button-group.filters-button-group .is-checked::after {content: "";display: block;width: 100%;background: #E9BC20;height: 4px;position: absolute;bottom: -13px;left: 0;right: 0;}

.button-group.filters-button-group button {
    position: relative;
    padding: 0px 20px;
}
.element-item {
    width: 33%;
}
.grid {
    min-height: 600px;
}
.contactUS {
    padding: 100px 0px;
    color: #fff;
}

.contactUS span {
    display: block;
}

.contactUS input, .contactUS textarea {
    background: none;
    border: none;
    border-bottom: 1px solid #ffffff7d;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0px;
}

.formContainer {
    max-width: 600px;
}

.formContainer input::placeholder, .formContainer textarea::placeholder {
    text-transform: uppercase;
    font-weight: 100;
    color: #fff;
    letter-spacing: 1px;
    font-size: 13px;
    opacity: 0.8;
    padding: 0px;
}

.formContainer textarea {
    height: 100px;
}

.contactUS input[type="submit"] {
    background: #E9BC20;
    max-width: max-content;
    padding: 10px 40px;
    margin-left: auto;
    margin-right: 0px;
    left: auto;
    position: relative;
    border-bottom: 1px solid #E9BC20;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    height: auto;
    letter-spacing: 1px;
    border: 2px solid #e9bc20;
}

form.wpcf7-form {
    text-align: right;
}

form.wpcf7-form input {
    color: #fff;
}

.contactUS input[type="submit"]:hover {
    color: #fff;
    background: none;
    border: 2px solid #e9bc20;
}

.contactUS h6 {
    color: #E9BC20;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
}

.contactUS h2 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 40px;
}

.rightContentForm {
    max-width: 584px;
    margin: auto;
}

.rightContentForm p {
    font-size: 15px;
    line-height: 32px;
    font-weight: 100;
    margin-bottom: 40px;
}

.rightContentForm a {
    color: #fff;
}

.rightContentForm a:hover {
    color: #e9bc20;
}

ul.socialContact i {
    width: 30px;
    height: 30px;
    border: 1px solid #E9BC20;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 11px;
    color: #e9bc20;
}

ul.socialContact {
    display: flex;
    align-items: center;
}

ul.socialContact li:nth-child(even) {
    margin: 0px 20px;
}

ul.socialContact {
    margin: 30px 0px;
}

ul.socialContact i:hover {
    background: #E9BC20;
    color: #000;
}
div#contactRightSide {
    position: relative;
}

div#contactRightSide::after {
    content: "";
    background-image: url('./images/16.png');
    /*background: red;*/
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -140px;
    bottom: 0;
    height: 130%;
}

.rightContentForm {
    position: relative;
    z-index: 2;
    padding: 40px;
}
.contactUS .container {
    max-width: 1400px;
}
ul.beforeSocial a {
    display: flex;
    margin-bottom: 22px;
    font-size: 14px;
    align-items: center;
}

ul.beforeSocial a img {
    margin-right: 20px;
    width: 30px;
}

ul.beforeSocial {
    margin-bottom: 40px;
}

.imagecontainerProductWrapper {
    width: 100%;
    height: 415px;
    text-align: center;
}

.imagecontainerProductWrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.productaWrappers h6 a {
    color: #fff;
    text-align: center;
    display: block;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
}

.productaWrappers h6 a:hover {
    color: #e9bc20;
}
.contentContainerproduct {
    color: #fff;
}

.contentContainerproduct .row {
    align-items: center;
}

.contentContainerproduct h6 {
    color: #E9BC20;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
}

.rightsideContent h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
}

ul.variations {
    margin: 30px 0px;
}

ul.variations li {
    margin-bottom: 10px;
}

ul.variations strong {
    margin-right: 30px;
    min-width: 120px;
    display: inline-block;
    font-weight: 500;
}

ul.variations {
    font-size: 14px;
    font-weight: 100;
}

.exceprt {
    max-width: 600px;
}

.exceprt p {
    margin-bottom: 30px;
    font-weight: 100;
    font-size: 14px;
    line-height: 22px;
}

.contentContainerproduct img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

.rightsideContent {
    padding: 100px 40px;
}
.logocontainerfooter ul {
    display: flex;
    align-items: center;
}
.AlsoLike h2 {
    text-align: center;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}

.AlsoLike .ourproducts {
    padding: 40px 0px;
}
.contentContainerproduct {
    padding: 30px 0px;
}

.contentContainerproduct .container {
    max-width: 100%;
    padding: 0px;
}

.rightsideContent {
    padding: 20px 0px;
}

.AlsoLike h2 {
    font-size: 28px;
}

.menuContaienrmain {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    /* background: red; */
    height: 100vh;
    top: 0;
    z-index: 99999;
    display: flex;
}

.rightMenunContainer {
    max-width: 700px;
    padding: 70px;
    right: 0px;
    margin-left: auto;
    background: #000;
    width: auto;
    text-align: center;
    overflow: auto;
}

.socialmediaContainermenu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightMenunContainer a {
    color: #fff;
}

.menuCOntainermainrightside a {
    display: block;
    margin-bottom: 16px;
    font-size: 30px;
    font-weight: 100;
}

.logocontainerMenu img {
    margin: auto;
    margin-bottom: 50px;
}

.socialmediaContainermenu ul li:nth-child(even) {
    margin: 0px 10px;
    color: #fff;
    padding-left: 10px;
}

.socialmediaContainermenu ul {
    color: #fff;
}

.socialmediaContainermenu ul li:nth-child(odd) {
    padding-right: 10px;
    margin-left: 10px;
}

.socialmediaContainermenu ul li a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 100;
}

.socialmediaContainermenu ul li a:hover {
    color: #E9BC20;
}

.menuCOntainermainrightside ul li a:hover {
    color: #E9BC20;
}

.blacked {
    width: 70%;
    height: 100%;
    background: #00000096;
}
i#closeMenu1.fa {
    position: absolute;
    right: 20px;
    color: #b09728;
    font-size: 40px;
    top: 50px;
}

.menuContaienrmain {
    display: none;
}
.innercontaienrASD {
    display: flex;
    height: 100%;
}
.socialmediaContainermenu ul {
    flex-wrap: wrap;
}
.innnerSlideContainer img {
    min-height: 370px;
    object-fit: cover;
}

.contentlogoFooet {
    font-weight: 100;
}
.newsletterFooter input[type="submit"] {
    background: none;
    font-size: 0px;
    width: 40px;
    border: none;
    background: url('./images/21.png');
    background-repeat: no-repeat;
    background-position: center center;
}

div#wpcf7-f73-o1 {
    margin: 25px 0px -10px;
}

.newsletterFooter input input::placeholder {
    color: #fff;
    opacity: 0.7;
}
.slick-next {
    background: url(./images/23.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.slick-prev {
    background: url(./images/22.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.slick-next::after,
.slick-next::before,
.slick-prev::after,
.slick-prev::before 
{
    display: none !important;
}
.QuoteOftheDay p {font-weight: 100;}
.contentSliderHomeBanner::after {
    content: "DESIGN";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 110px;
    bottom: 0;
    position: absolute;
    /* bottom: 40px; */
    z-index: 9;
    font-size: 120px;
    text-align: right;
    width: max-content;
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    /* right: 50px; */
    font-weight: 700;
    opacity: 0.2;
    z-index: 9;
    /* top: 0; */
    margin: auto;
    bottom: auto;
    top: -77px;
    font-size: 150px;
}
.contentSliderHomeBanner {
    position: relative;
}
.contentAbout img {
    max-width: 500px;
    margin: auto;
}
.sliderContainerHOmepage .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-width: max-content;
    bottom: 20px;
}

.sliderContainerHOmepage .slick-dots button {
    display: none;
}

.sliderContainerHOmepage .slick-dots li {
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    position: relative;
    transform: rotate(45deg);
}

.sliderContainerHOmepage .slick-dots li:nth-child(even) {
    margin: 0px 17px;
}

.sliderContainerHOmepage .slick-dots li.slick-active::after {
    content: "";
    display: block;
    width: 9px;
    height: 8px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}
.ceoMessage .containerMini {
    /* position: relative; */
}

.ceoMessage .containerMini:after {content: "";width: 1px;height: 100%;left: 0;right: 0;margin: auto;position: absolute;background: #ffffff14;top: 0;}

.ceoMessage {
    position: relative;
}
.innnerSlideContainer:hover h4 {
    color: #E9BC20;
}
.innermenu span {
    margin-left: 20px;
}
.newsletterFooter p {
    font-weight: 100;
    /* font-size: 16px; */
}
.galleryMenuContianer h2 {
    font-size: 27px;
    color: #fff;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 70px 0px 30px;
}









































@media only screen and  (max-width: 767px) {
    .contentSliderHomeBanner h2 {
    font-size: 32px;
    font-weight: 600;
}

.contentSliderHomeBanner p {
    font-size: 13px;
    line-height: normal;
    max-width: 80%;
    margin: auto;
}

.slideInnerContainer {
    min-height: auto;
    padding: 100px 0px;
}

.socialMediaLinks {
    position: absolute;
    transform: none;
    left: 0;
    right: 0;
    top: auto;
    bottom: 9px;
    z-index: 9;
    max-width: 80%;
    margin: auto;
    left: 0;
    right: 0;
}

.socialMediaLinks ul li a {
    font-size: 13px;
}

* {
    overflow-x: hidden;
}

.butonBanner {
    font-size: 13px;
    height: 40px;
}

.MessageCero {
    display: block;
    flex: 0 100%;
    text-align: center;
}

.ceoMessage .containerMini {display: block;text-align: center;}

.MessageCero h2 {
    width: 100%;
    max-width: 100%;
    font-weight: 600;
}

.ceoMessage img {
    margin: auto;
    margin-bottom: 20px;
}

.MessageCero span {
    text-align: center;
    margin-bottom: 40px;
}

.ceoMessage {
    min-height: auto;
    padding: 50px 20px;
}

.QuoteOftheDay {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
}
[data-aos^=fade][data-aos^=fade] {
    opacity: 1;
}
.bannerPages p {display: flex;align-items: center;justify-content: center;}

.contentrightAbout {
    max-width: 100%;
    margin: 30px 0px;
}

.contentrightAbout h6 {
    font-size: 13px;
}

.contentrightAbout h2 {
    font-size: 26px;
}

.contentrightAbout p {
    font-size: 12px;
    line-height: normal;
}

.aboutSection {
    padding: 60px 0px 0px;
}

.cardsSections h2 {
    font-size: 26px;
}

.cardsSections h6 {
    font-size: 15px;
    font-weight: 100;
}

.cardsSections {
    padding: 30px 0px;
}

.flip .front {
    padding: 10px 19px;
    border-radius: 11px;
}

.flip .front h1 {
    border-radius: 10px;
}

.tabscontainerabout ul#myTab {
    width: 100%;
}

.tabscontainerabout .container {
    flex-wrap: wrap;
}

.tabscontainerabout div#myTabContent {
    width: 100%;
    max-width: 100%;
    margin: 40px 0px;
}

.videoSection a img {
    width: 40px;
}

.videoSection > img {
    height: 400px;
    object-fit: cover;
}

.testimonials {
    padding: 20px 0px;
}

.headincontenttestimonial h2 {
    font-size: 26px;
}

h2 {}

.testimonials p {
    font-size: 12px;
    line-height: normal;
}

h6.bameAuthor {
    font-size: 16px;
    line-height: normal;
    margin: 20px 0px 0px;
}

h6.bameAuthor span {
    font-size: 11px;
    font-weight: 100;
}

.contentlogoFooet {
    max-width: 100%;
    font-size: 12px;
    line-height: normal;
    font-weight: 100;
}

.menuCOntainerpetra .col {
    max-width: 100%;
    width: 100%;
    flex: 0 100%;
    padding: 0px;
}

.innermenu {
    max-width: 100%;
    margin-block-start: 20px;
}

.innermenu ul {}

.innermenu ul {
    display: none;
}

.innermenu h6 {
    /* background: red; */
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    margin-bottom: 0px;
}

.innermenu h6::after {content: "";display: block;width: 10px;height: 10px;border: 2px solid #fff;transform: rotate(45deg);border-left: 0;border-top: 0;position: absolute;right: 20px;top: 0;bottom: 0;margin: auto;}

.innermenu {
    margin: 0px;
}

.newsletterFooter {
    margin: 40px 0px;
}

.newsletterFooter h6 {
    font-size: 20px;
    font-weight: 600;
}

.newsletterFooter > p {
    font-size: 12px;
    line-height: normal;
    font-weight: 100;
    margin-bottom: 40px;
}

.menuCOntainerpetra .row {
    flex-direction: column-reverse;
}

.copyroghts {
    font-size: 9px;
}
.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
    margin: 40px auto 0px;
}

.slick-dots li {
    border: none;
    font-size: 0;
    background: none;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50px;
}

.slick-dots li button {
    display: none;
}

.slick-dots li:nth-child(even) {
    margin: 0px 10px;
}

.slick-dots li.slick-active {
    background: #e9bc20;
    border-color: #e9bc20;
}
header {
    padding-left: 0px;
    padding-right: 0;
}

.logoContainer {
    width: 130px;
}

header .container {
    padding: 0px 12px;
}
.bannerPages h2 {
    font-size: 37px;
}

.bannerPages p a, .bannerPages p span {
    font-size: 14px;
}

.contactUS h2 {
    font-size: 26px;
}

.contactUS h6 {
    font-size: 13px;
}

.rightContentForm {
    padding: 40px 20px;
}

div#contactRightSide {
    padding: 0px;
}

div#contactRightSide::after {
    display: none;
}

.bannerPages {
    min-height: auto;
    padding: 130px 0px 50px;
}
.rightMenunContainer {
    width: 100%;
}

div#closeMenu {}

.menuCOntainermainrightside a {
    font-size: 15px;
}

.socialmediaContainermenu ul {
    display: block;
    margin: 20px 0px;
    border-top: 1px solid #ffffff3b;
    padding-top: 20px;
}

.socialmediaContainermenu ul li a {
    font-size: 13px;
}
.butonBanner:before, .butonBanner:after {
    display: none;
}
.socialLinksFooter {
    display: block !important;
}

}
