body {
	margin: 0px;
	background: #000;
}
ul,.row,ol,p {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
a,a:hover,*:focus {
	outline: none !important;
}
header {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    /* background: red; */
}

.container {
    max-width: 1720px;
    padding: 0px 30px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

header li:nth-child(even) {
    margin: 0px 30px;
}

header {
    padding: 24px;
}

.hamBUrgers {
    display: block;
    width: 24px;
    height: 16px;
    /* border: 2px solid #000; */
    position: relative;
}

.hamBUrgers span {
    position: absolute;
    height: 1px;
    background: #E9BC20;
    width: 100%;
    position: absolute;
}

.hamBUrgers span:nth-child(1) {
    top: 0;
}

.hamBUrgers span:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
}

.hamBUrgers span:nth-child(3) {
    bottom: 0px;
}

li.hamburgercontainer {
    display: flex;
    align-items: center;
}
.sliderContainerHOmepage {
    position: relative;
    max-height: max-content;
}

.socialMediaLinks ul {
    display: flex;
    /* position: absolute; */
    /* left: 0px; */
    /* top: 0; */
    /* bottom: 0; */
    /* margin: auto; */
}

.socialMediaLinks li:nth-child(even) {
    margin: 0px 30px;
}

.socialMediaLinks li a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.socialMediaLinks {
    position: absolute;
    left: 0px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: max-content;
    z-index: 999;
    transform: rotate(-90deg);
    left: -180px;
    right: auto;
    top: 45%;
    bottom: auto;
}

.slideInnerContainer {
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contentSliderHomeBanner {
    max-width: 700px;
    margin: auto;
    color: #fff;
}

.contentSliderHomeBanner h2 {
    font-size: 66px;
    font-weight: 400;
}

.contentSliderHomeBanner p {
    font-size: 18px;
    line-height: 32px;
}

.butonBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    height: 50px;
    max-width: 180px;
    margin: 50px auto 0px;
    color: #fff;
    position: relative;
}

a:hover {
    color: inherit;
    text-decoration: none !important;
}

.butonBanner:after {
	content: "";
	display: block;
	width: 1px;
	height: 60px;
	transition: 0.6s all;
	background: #ffffff8a;
	position: absolute;
	right: -13px;
	bottom: -18px;
}

.butonBanner:before {
	content: "";
	display: block;
	width: 190px;
	height: 1px;
	background: #ffffff8a;
	position: absolute;
	bottom: -13px;
	transition: 0.6s all;
	right: -20px;
}

.butonBanner:hover {
    background: #fff;
    color: #E9BC20;
}

body, * {
    transition: 0.6s all;
}

.butonBanner:hover:after {
	right: auto;
	top: -17px;
	bottom: auto;
	height: 60px;
	left: -10px;
	transition: 0.6s all;
}

.butonBanner:hover:before {
    bottom: auto;
    left: -20px;
    /* width: 100%; */
    top: -10px;
    transition: 0.6s all;
}

header {
	z-index: 9999;
	background: #000;
}




.slideCOntainerHome h2,
.slideCOntainerHome p,
.testimonials h6,
.testimonials p,
.slideCOntainerHome .buttoncintainer
{
    opacity: 0;
}


.slideCOntainerHome.slick-active h2,
.slideCOntainerHome.slick-active p,
.slideCOntainerHome.slick-active .buttoncintainer,
.sliderNac.slick-active h6,
.sliderContenttest.slick-active	 p
{
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    transform: translateY(-50px);
    opacity: 0;
    animation-name: titleAnimation;
    animation-timing-function: ease;
    animation-duration: 3s;    
    animation-delay: 0.6s;
    -webkit-animation-fill-mode: forwards;
}


@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 100%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
  }
}
img {
    max-width: 100%;
    display: block;
}
.buttoncintainer {
    padding: 10px 0px 30px;
}
.ceoMessage {
    min-height: 325px;
    display: flex;
    align-items: center;
}

.ceoMessage img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
}

.containerMini {
    max-width: 1000px;
    margin: auto;
}

.MessageCero {
    display: flex;
    align-items: center;
    flex: 0 45%;
}

.ceoMessage .containerMini {
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    max-width: 1140px;
}

.MessageCero h2 {
    font-size: 29px;
    font-weight: 300;
    margin-right: 80px;
}

.MessageCero span {
    font-size: 12px;
    display: block;
    text-align: right;
    color: #E9BC20;
    margin: 10px 0px 0px;
}

.MessageCero p {
    max-width: 500px;
}

.QuoteOftheDay {
    max-width: 500px;
    margin-left: auto;
    flex: 0 45%;
}
.sliderContainerHOmepage .slick-next {
    position: absolute;
    right: 10%;
    bottom: 50px;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 0;
    background: none;z-index: 9
}

.sliderContainerHOmepage .slick-next::after {
	content: "";
	display: block;
	width: 14px;
	height: 15px;
	border: 3px solid #fff;
	border-left: 0;
	border-bottom: 0;
	transform: rotate(45deg);
}
.sliderContainerHOmepage .slick-prev {
    position: absolute;
    right: 13%;
    z-index: 9;
    bottom: 50px;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 0;
    background: none;
}

.sliderContainerHOmepage .slick-prev::after {
	content: "";
	display: block;
	width: 14px;
	height: 15px;
	border: 3px solid #fff;
	border-left: 0;
	border-bottom: 0;
	transform: rotate(-135deg);
}
.sliderContainerHOmepage .slick-prev button,
.sliderContainerHOmepage .slick-next button {
	display: none;
}
.slideInnerContainer {
    background-blend-mode: multiply;
    background-color: #00000078;
    background-attachment: fixed;
}
.socialMediaLinks li a:hover {
    color: #ab8f23;
}
.productcontainerslider .slick-slide {
	margin: 0 10px;
}
.productcontainerslider .slick-list {
	margin: 0 -10px;
}
.innnerSlideContainer img {
    max-width: 415px;
    width: 100%;
    max-height: 415px;
    height: 100%;
}

.innnerSlideContainer {
    max-width: 100%;
    overflow: hidden;
    margin: auto;
    text-align: center;
}

.innnerSlideContainer h4 {
    font-size: 24px;
    color: #E9BC20;
    margin: 20px 0px 0px;
}

.innnerSlideContainer h6 {
    font-size: 18px;
    color: #fff;
    margin: 10px 0px 0px;
}
.ourproducts {
    text-align: center;
    padding: 100px 0px;
    border-bottom: 1px solid #ffffff61;
}

.contentOurProducts h6 {
    color: #E9BC20;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.contentOurProducts h2 {
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 50px;
    color: #fff;
}

.ourproducts .buttoncintainer a {
	background: #fff;
	color: #E9BC20;
	border: 2px solid #fff;
}
.ourproducts .buttoncintainer a:hover {
	border-color: #E9BC20;
	background: none;
	color: #fff;
}
.ourproducts .buttoncintainer a:hover::after,
.ourproducts .buttoncintainer a:hover::before {
	background: #E9BC20;
}
.alignCenter {
	align-items: center;
}
.aboutSection .buttoncintainer a {
	background: #E9BC20;
	color: #fff;
	border: 2px solid #E9BC20
}
.aboutSection .buttoncintainer a:before,
.aboutSection .buttoncintainer a:after {
	background: #E9BC20;
}

.aboutSection .buttoncintainer a:hover:before,
.aboutSection .buttoncintainer a:hover:after {
	background: #E9BC20;
}
.aboutSection .buttoncintainer a:hover {
	background: none;
	color: #fff;
}
.aboutSection .buttoncintainer a {
	margin-left: 0px;
}
.aboutSection {
	color: #fff;
	padding: 100px 0px;
}
.contentrightAbout {
    max-width: 600px;
    margin: auto;
}

.contentrightAbout h6 {color: #E9BC20;font-weight: 400;text-transform: uppercase;letter-spacing: 1px;margin-bottom: 10px;}

.contentrightAbout h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

.contentrightAbout p {
    line-height: 30px;
    font-size: 14px;
    max-width: 550px;
}

.innerslideGallery {
    width: 99%;
    position: relative;
}

.innerslideGallery img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.indexoftheSlide {
    position: absolute;
    bottom: 40px;
    z-index: 9;
    font-size: 80px;
    text-align: right;
    width: max-content;
    color: black;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    right: 50px;
    font-weight: 700;
    opacity: 0.5;
    z-index: 9;
}

.innerslideGallery::after {content: "";display: block;width: 100%;height: 100%;background: #00000066;position: absolute;top: 0;bottom: 0;left: 0;right: 0;}

.innerslideGallery {
    overflow: hidden;
}

.innerslideGallery:hover img {
    transform: scale(1.5);
    transition: 3s all;
}

.innerslideGallery img {
    transition: 3s all;
}

.innerslideGallery {
    cursor: pointer;
}
.containerlines {
    width: 90%;
    height: 90%;
    position: relative;
    display: block;
    position: absolute;
}

.containerlines::after {content: "";display: block;width: 2px;height: 90%;position: absolute;right: 0px;z-index: 99;background: #ffffff69;bottom: 0;top: auto;right: -13px;}

.containerlines::before {
    content: "";
    display: block;
    width: 2px;
    height: 90%;
    position: absolute;
    right: 0px;
    z-index: 99;
    background: #ffffff69;
    bottom: 0;
    top: auto;
    right: -13px;
    width: 100%;
    height: 3px;
    right: -23px;
    bottom: 10px;
}

.sliderGallery .slick-next {
    position: absolute;
    right: 60px;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    font-size: 0;
    margin: 20px 0px;
}

.sliderGallery .slick-next button {
    display: none;
}

.sliderGallery .slick-next::after {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	border: 2px solid #fff;
	border-left: 0;
	border-bottom: 0;
	transform: rotate(45deg);
}

.sliderGallery .slick-prev {
    position: absolute;
    left: 60px;
    z-index: 9;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    font-size: 0;
    margin: 20px 0px;
    bottom: -80px;
}

.sliderGallery .slick-prev button {
    display: none;
}

.sliderGallery .slick-prev::after {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	border: 2px solid #fff;
	border-left: 0;
	border-bottom: 0;
	transform: rotate(-135deg);
}
.testimonials {
	color: #fff;
	text-align: center;
}

.sliderNac img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    margin-bottom: 20px;
}

.sliderNac h6 span {
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0px;
}

.sliderNac h6 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.authortestimonials {
    max-width: 500px;
    margin: auto;
}
.authortestimonials .slick-next {
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: max-content;
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    font-size: 0;
}

.authortestimonials .slick-next::after {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	border: 3px solid #fff;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border-left: 0;
	border-bottom: 0;
	transform: rotate(45deg);
}
.authortestimonials .slick-prev {
    position: absolute;
    left: 0px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: max-content;
    width: 50px;
    height: 50px;
    border: none;
    z-index: 9;
    background: none;
    font-size: 0;
}

.authortestimonials .slick-prev::after {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	border: 3px solid #fff;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border-left: 0;
	border-bottom: 0;
	transform: rotate(-135deg);
}
.sliderContenttest p {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 33px;
    font-weight: 300;
    opacity: 0.8;
}
.testimonials {
    padding: 100px 0px;
}

.testimonials img {
    margin: auto;
}

.headincontenttestimonial img {
    margin: 50px auto;
}

.headincontenttestimonial h2 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 42px;
}

.headincontenttestimonial h6 {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #E9BC20;
}
.testimonials {
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

.copyroghts {
    padding: 10px 0px;
    color: #fff;
}

footer .row {
    color: #fff;
    padding: 50px 0px;
}

footer i {
    color: #a68d21;
}

footer a {
    color: #fff;
}

.contentlogoFooet {
    max-width: 440px;
    margin: 30px 0px;
}

footer h6 {
    font-size: 21px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.innermenu i {
    width: 30px;
}

.innermenu a {
    display: flex;
    align-items: flex-start;
}

.socialLinksFooter ul {
    display: flex;
    align-items: center;
}

.socialLinksFooter li:nth-child(even) {
    margin: 0px 15px;
}

.socialLinksFooter i {
    width: 30px;
    height: 30px;
    border: 1px solid #E9BC20;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 11px;
}

.socialLinksFooter {
    margin: 20px 0px;
}

.socialLinksFooter i:hover {
    background: #E9BC20;
    color: #000;
}

.newsletterFooter form {
    position: relative;
}

.newsletterFooter input[type="submit"] {
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    height: 40px;
}

.newsletterFooter input[type="email"] {
    height: 40px;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
}
.innermenu li {
    margin-bottom: 15px;
}

.innermenu i {
    margin-right: 10px;
    margin-top: 6px;
}













































@media only screen and  (max-width: 767px) {
	.contentSliderHomeBanner h2 {
    font-size: 32px;
    font-weight: 600;
}

.contentSliderHomeBanner p {
    font-size: 13px;
    line-height: normal;
    max-width: 80%;
    margin: auto;
}

.slideInnerContainer {
    min-height: auto;
    padding: 100px 0px;
}

.socialMediaLinks {
    position: absolute;
    transform: none;
    left: 0;
    right: 0;
    top: auto;
    bottom: 9px;
    z-index: 9;
    max-width: 80%;
    margin: auto;
    left: 0;
    right: 0;
}

.socialMediaLinks ul li a {
    font-size: 13px;
}

* {
    overflow-x: hidden;
}

.butonBanner {
    font-size: 13px;
    height: 40px;
}

.MessageCero {
    display: block;
    flex: 0 100%;
    text-align: center;
}

.ceoMessage .containerMini {display: block;text-align: center;}

.MessageCero h2 {
    width: 100%;
    max-width: 100%;
    font-weight: 600;
}

.ceoMessage img {
    margin: auto;
    margin-bottom: 20px;
}

.MessageCero span {
    text-align: center;
    margin-bottom: 40px;
}

.ceoMessage {
    min-height: auto;
    padding: 50px 20px;
}

.QuoteOftheDay {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
}
[data-aos^=fade][data-aos^=fade] {
    opacity: 1;
}
}